nzx-form([state]="form.state", (groupChange)="form.group = $event", (submitChange)="form.submit = $event", [layout]="form.layout", (onSubmit)="submit($event)", [ngClass]="form.class")
  button([hidden]="true")
