nzx-form([state]="form.state", (groupChange)="form.group = $event", (submitChange)="form.submit = $event", (onSubmit)="form.value = $event; submit($event)", [loading]="form.loading", [layout]="form.layout", [ngClass]="form.class")
  button([hidden]="true")
